@model List<ZaloOA_v2.Models.ViewModels.UsersViewModel>
@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("SendToUsers","Home",FormMethod.Post))
{
    <h2>Danh sách tất cả user</h2>
    <table>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model[0].UserId)</th>
                <th>@Html.DisplayNameFor(model => model[0].DisplayName)</th>

                <th>All@*<INPUT type="checkbox" id="checkAll" name="checkAll" />*@ @Html.CheckBox("checkAll")</th>
            </tr>
        </thead>
        @for (int i = 0; i< Model.Count();i+=1)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model[i].UserId)
                </td>
                <td>
                    @Html.DisplayFor(model => model[i].DisplayName)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model[i].isSelected)
                </td>
                @Html.HiddenFor(model => model[i].UserId)
                @Html.HiddenFor(model => model[i].DisplayName)
                @Html.HiddenFor(model => model[i].isSelected)
            </tr>
        }
    </table>
    <input type="text" id="text" name="text">
    <br>
    <br>
    <input id="submit" type="submit" value="Gửi">
}

@using (Html.BeginForm("SendToUsers","Home",FormMethod.Post))
{
    <h2>Thống Kê Thông Báo Đã Gửi</h2>
}
